.body {
    font-family: Arial, sans-serif;
    background-color: #faf749;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 70px;
    background-color: rgba(33, 238, 204, 0.5); /* Set the background color to be transparent */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(249, 179, 18, 0.3); /* Adjust the alpha value here for the box shadow transparency */
    margin-top: 105px;
}

h1 {
    font-size: 24px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #9998e3;
    border-radius: 5px;
}

button {
    background-color: #7b71d8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.weather-info {
    margin-top: 20px;
}